Pillow==9.5.0
Requests==2.30.0
streamlit==1.22.0
streamlit-lottie==0.0.5
streamlit-timeline==0.0.2
llama-index>=0.8.5
llama-cpp-python==0.2.11
nltk==3.8.1
python-dotenv==1.0.0
langchain
docarray
pypdf
pydantic==1.10.9